@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    max-width: 1920px;
    display: flex;
    justify-content: center;
}

.navbar {
    max-width: 1546px;
    font-family: Quicksand;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 10px auto;
}

/* .navbar> div{
    justify-content: space-between;
} */

.nav-logo img {
    width: 80px;
}

.nav-logo {
    display: flex;
    align-items: center;
    width: 250px;
    margin: 0px 50px;
}

.nav-logo span {
    width: 170px;
    color: rgb(17, 17, 17);
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
}

.nav-links {
    width: 510px;
    display: flex;
    margin-left: 200px;
    /* justify-content: space-between; */

}

.nav-links li {
    list-style-type: none;
    padding: 32px;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.nav-link-1 {
    text-decoration: none;
    color: rgb(254, 163, 1);
}

.nav-link-2 {
    text-decoration: none;
    color: rgb(1, 172, 253);

}

.nav-link-3 {
    text-decoration: none;
    color: rgb(5, 212, 223);
}

.nav-link-4 {
    text-decoration: none;
    color: rgb(93, 88, 239);
}

.nav-btn button {
    width: 260px;
    padding: 18px 10px;
    margin: 0px 150px;
    background: rgb(254, 163, 1);
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.banner-container {
    margin: 0 auto;
}

.banner {
    width: 1155px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.banner-description {
    width: 640px;
    margin: 0px 50px;
    font-family: Quicksand;
}

.banner-description h1 {
    margin: 24px 0px;
    font-size: 56px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

.banner-description h1 .orange-text {
    color: rgb(254, 163, 1);
}

h1 .blue-text {
    color: rgb(1, 172, 253);
}

.banner-description p {
    margin: 24px 0px;
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
}

.banner-description button {
    width: 260px;
    padding: 18px 10px;
    background: rgb(17, 17, 17);
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.card-section {
    width: 1160px;
    margin: 60px auto;
    text-align: center;
    font-family: Quicksand;
    background-image: url("../assets/bg.png");
}

.card-section h2 {
    margin: 80px 0px;
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 700;
    text-align: center;
}

.card-container {
    display: flex;
}

.card-1 {
    width: 365px;
    margin: 28px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card {
    border-radius: 18.86px;
    padding: 40px 40px;
    width: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card img {
    width: 132px;
}

.card h3 {
    color: rgb(32, 32, 32);
    font-size: 24.52px;
    font-weight: 700;
    text-align: center;
}
.card-2 h3{
    padding-top: 10px;
}
.card p {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    text-align: center;
}
.card button{
    color: rgb(100, 200, 255);
    border: none;
    background: none;
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    text-align: center;
    margin: 30px ;
}
.card-2 button{
    color: rgb(240, 170, 0);
}
.card-3 button{
    color: rgb(135, 0, 255);
}

.card-2 {
    width: 365px;
    margin: 28px;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-3 {
    width: 365px;
    margin: 28px;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}