@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 1920px;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 1546px;
    font-family: Quicksand;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 10px auto;
}

.nav-logo img {
    width: 80px;
}

.nav-logo {
    width: 200px;
    display: flex;
    align-items: center;
}

.nav-logo span {
    width: 170px;
    color: rgb(17, 17, 17);
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-links {
    width: 385px;
    display: flex;
    /* margin-left: 200px; */
    /* justify-content: space-between; */

}

.nav-links li {
    list-style-type: none;
    padding: 32px;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
}

.nav-link-1 {
    text-decoration: none;
    color: rgb(254, 163, 1);
}

.nav-link-2 {
    text-decoration: none;
    color: rgb(1, 172, 253);

}

.nav-link-3 {
    text-decoration: none;
    color: rgb(5, 212, 223);
}

.nav-link-4 {
    text-decoration: none;
    color: rgb(93, 88, 239);
}

.nav-btn button {
    width: 200px;
    padding: 20px 60px;
    /* margin: 0px 150px; */
    background: rgb(254, 163, 1);
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    cursor: pointer;
}

.ham-icon i {
    width: 46px;
    height: 46px;
    display: none;
}

.hide {
    display: none;
}


@media screen and (max-width: 576px) {
    .navbar{
        border: 2px solid orange;
    }
    header,
    .navbar {
        flex-direction: column;
    }
    .nav-links,
    .primary-btn {
        display: none;
    }
    
    .nav-logo img{
        width: 60px;
    }
    .nav-logo span {
        display: none;
    }

    .ham-icon i {
        display: block;
        position: absolute;
        width: 50px;
        height: 15px;
        right: 3.75px;
        top: 50px;
    }
    .navbar{
        align-items: flex-start;
        text-align: left;
        margin: 0px;
        padding-left: 10px;
    }
}

.marquee-container {
    height: 40px;
    background-color: rgb(1, 172, 253);
    font-size: 2rem;
}

.banner-container {
    margin: 0 auto;
}

.banner {
    width: 1155px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.banner-description {
    width: 640px;
    font-family: Quicksand;
}

.banner-description h1 {
    margin: 24px 0px;
    font-size: 3.5rem;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

.banner-description h1 .orange-text {
    color: rgb(254, 163, 1);
}

h1 .blue-text {
    color: rgb(1, 172, 253);
}

.banner-description p {
    margin: 24px 0px;
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
}

.banner-description button {
    width: 260px;
    padding: 18px 10px;
    background: rgb(17, 17, 17);
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    cursor: pointer;
}
.banner-img{
    width: 100%;
}


@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
        margin: 10px 20px;
        width: ;
    }
    .banner-img{
        padding: 20px 20px;
        
    }
}
.card-section {

    background-image: url("../assets/bg.png");
}

.card-section h2 {
    margin: 80px 0px;
    color: rgb(0, 0, 0);
    font-size: 2.875rem;
    font-weight: 700;
    text-align: center;
}

.card-container {
    display: flex;
    width: 1160px;
    margin: 60px auto;
    text-align: center;
    font-family: Quicksand;
}

.card-1 {
    width: 365px;
    margin: 28px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card {
    border-radius: 18.86px;
    padding: 40px 40px;
    width: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card img {
    width: 132px;
}

.card h3 {
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.card-2 h3 {
    padding-top: 10px;
}

.card p {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.card button {
    color: rgb(100, 200, 255);
    border: none;
    background: none;
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin: 30px;
    cursor: pointer;
}

.card-2 button {
    color: rgb(240, 170, 0);
}

.card-3 button {
    color: rgb(135, 0, 255);
}


.card-2 {
    width: 365px;
    margin: 28px;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-3 {
    width: 365px;
    margin: 28px;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.icon-btn {
    width: 80px;
    margin: 10px auto;
    display: flex;
}

.icon-btn .icon-1 {
    width: 60px;
    border-radius: 50%;
    margin-right: 5px;
    padding: 15px 10px;
    background: rgb(254, 163, 1);
    cursor: pointer;
}

.icon-btn .icon-2 {
    width: 60px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 50%;
    padding: 15px 10px;
    background: rgb(254, 163, 1);
}

.icon-btn .icon-1:hover {
    background: none;
    border: 2px solid orange;
}

.icon-btn .icon-2:hover {
    background: none;
    border: 2px solid orange;
}

.our-stories-section {
    background: url("../assets/bg.png"), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}

.card-3 {
    grid-area: card-3;
}

.card-4 {
    grid-area: card-4;
    margin: 0px 30px;
}

.card-5 {
    grid-area: card-5;
    margin: 0px 30px;
}

.story-card-container {
    padding: 60px 0px;
    width: 1160px;
    margin: 0 auto;
    display: grid;
    gap: 19px;
    grid-template-areas:
        "card-1 card-2 card-3"
        "card-1 card-4 card-5";
}

.story-card img {
    border-radius: 16px 16px 0px 0px;
}

.story-heading {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 2.875rem;
    font-weight: 700;
    /* line-height: 57.5px;
    letter-spacing: 0%; */
    text-align: center;
    margin: 80px 0px 0px 0px;
}

.story-card h4 {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 800;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    padding: 33px 37px;
}

.card-1 h4 {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 38.35px;
    letter-spacing: 0%;
    text-align: left;
    padding: 35px 30px;
}

.story-card p {
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    padding: 38px 34px;
}

.story-card {
    position: relative;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    width: calc(100% - 60px);
}

.our-stories-section button {
    width: 260px;
    padding: 18px 10px;
    background: rgb(17, 17, 17);
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    margin: 30px auto 60px auto;
    cursor: pointer;

}

.our-stories-section .button {
    text-align: center;
}

.story-date .story-date-1 {
    padding: 15px;
    color: white;
    position: absolute;
    left: 10%;
    top: 48%;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
}

.story-date .story-date-2 {
    padding: 10px;
    color: white;
    position: absolute;
    left: 10%;
    top: 50%;
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
}

.story-date .story-date-3 {
    padding: 10px;
    position: absolute;
    color: white;
    left: 10%;
    top: 50%;
    border-radius: 47.93px;
    background: rgb(93, 88, 240);
}

.story-date .story-date-4 {
    padding: 10px;
    color: white;
    position: absolute;
    left: 10%;
    top: 50%;
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
}

.story-date .story-date-5 {
    padding: 10px;
    position: absolute;
    color: white;
    left: 10%;
    top: 50%;
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
}

footer {
    background: rgb(1, 172, 253);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    padding: 140px 175px;
}

.footer-description {
    width: 400px;
}

.footer-logo {
    display: flex;
    margin-bottom: 35px;
}

.footer-logo-text {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 39.51px;
    letter-spacing: 0%;
    text-align: left;
}

.footer-text {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

.footer-links {
    width: 160px;
}

.footer-links h4 {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.footer-nav-links li .footer-nav-link {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.footer-nav-links li {
    list-style-type: none;
    margin-bottom: 20px;
}

.social-links {
    width: 220px;
}

.social-links h4 {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.social-links img {
    padding: 5px;
    cursor: pointer;
}